<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-company-heading">Create or edit a Company</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_companyId">Company Id</label>
                    <input type="number" class="form-control" name="companyId" id="field_companyId"
                           formControlName="companyId"/>
                    <div *ngIf="editForm.get('companyId')!.invalid && (editForm.get('companyId')!.dirty || editForm.get('companyId')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('companyId')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('companyId')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_companyName">Company Name</label>
                    <input type="text" class="form-control" name="companyName" id="field_companyName"
                           formControlName="companyName"/>
                    <div *ngIf="editForm.get('companyName')!.invalid && (editForm.get('companyName')!.dirty || editForm.get('companyName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('companyName')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('companyName')?.errors?.maxlength">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_industry">Industry</label>
                    <input type="text" class="form-control" name="industry" id="field_industry"
                           formControlName="industry"/>
                    <div *ngIf="editForm.get('industry')!.invalid && (editForm.get('industry')!.dirty || editForm.get('industry')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('industry')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('industry')?.errors?.maxlength">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_marketCap">Market Cap</label>
                    <input type="number" class="form-control" name="marketCap" id="field_marketCap"
                           formControlName="marketCap"/>
                    <div *ngIf="editForm.get('marketCap')!.invalid && (editForm.get('marketCap')!.dirty || editForm.get('marketCap')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('marketCap')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('marketCap')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_price">Price</label>
                    <input type="number" class="form-control" name="price" id="field_price"
                           formControlName="price"/>
                    <div *ngIf="editForm.get('price')!.invalid && (editForm.get('price')!.dirty || editForm.get('price')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('price')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('price')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
