<div>
    <h2 id="page-heading">
        <span>Yahoo Users</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-yahoo-user" [routerLink]="['/yahoo-user/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Yahoo User
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="yahooUsers?.length === 0">
        <span>No yahooUsers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="yahooUsers?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Username</span></th>
                    <th scope="col" ><span>Age</span></th>
                    <th scope="col" ><span>Interest</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let yahooUser of yahooUsers ;trackBy: trackId">
                    <td><a [routerLink]="['/yahoo-user', yahooUser.id, 'view']">{{ yahooUser.id }}</a></td>
                    <td>{{ yahooUser.username }}</td>
                    <td>{{ yahooUser.age }}</td>
                    <td>{{ yahooUser.interest }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/yahoo-user', yahooUser.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/yahoo-user', yahooUser.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(yahooUser)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
